{% extends 'base.html.twig' %}

{% block title %}Calendar index{% endblock %}
{% block body %}
    {{ include('user-header.html.twig') }}
    {{ include('search/searcher.html.twig') }}
    <h1>Calendar index</h1>
    <a href="{{ path('calendar_new') }}">Add new event</a>
    <a href="{{ path('task_index')}}">View tasks</a>
    <calendar-component id="content" data="{{ data }}"></calendar-component>
{% endblock %}
