{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ encore_entry_link_tags('login') }}
{% endblock %}
{% block title %}Bethink | Log in{% endblock %}

{% block body %}
    <div class="container">
        {{ include('common-header.html.twig') }}
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <div class="loginForm">
                <div class="title">
                    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                </div>
                <label for="inputEmail" class="lbl">Email</label>
                <input type="email" value="{{ email }}" name="email" id="inputEmail" class="form-control loginEmail" required autofocus>
                <label for="inputPassword" class="lbl">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control loginPasswd" required>
            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            >

            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
            #}
            <div class="btnWrap">
                <button class="btn btn-lg btn-primary" type="submit">
                    Sign in
                </button>
            </div>
        </div>
        </form>
    </div>
{% endblock %}
