{% extends 'base.html.twig' %}
{% block title %}Bethink{% endblock %}
{% block body %}

    <div class="single-layout">
        <div>
            <searcher-view userIde="{{ userId }}"></searcher-view>
            <single-view calendarData="{{ data }}" userIdentity="{{ userId }}" title="{{ title }}" route="{{ route }}" routeName="{{ routeName }}" addRoute="{{ addRoute }}"></single-view>
        </div>
    </div>
{% endblock %}