{% extends 'base.html.twig' %}

{% block title %}UserConfig index{% endblock %}

{% block body %}
    <h1>UserConfig index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Color</th>
                <th>Panel_view</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user_config in user_configs %}
            <tr>
                <td>{{ user_config.color }}</td>
                <td>{{ user_config.panelView }}</td>
                <td>
                    <a href="{{ path('user_config_show', {'id': user_config.id}) }}">show</a>
                    <a href="{{ path('user_config_edit', {'id': user_config.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('user_config_new') }}">Create new</a>
{% endblock %}
