{% extends 'base.html.twig' %}

{% block title %}UserConfig{% endblock %}

{% block body %}
    <h1>UserConfig</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user_config.id }}</td>
            </tr>
            <tr>
                <th>Color</th>
                <td>{{ user_config.color }}</td>
            </tr>
            <tr>
                <th>Panel_view</th>
                <td>{{ user_config.panelView }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('user_config_index') }}">back to list</a>

    <a href="{{ path('user_config_edit', {'id': user_config.id}) }}">edit</a>

    {{ include('user_config/_delete_form.html.twig') }}
{% endblock %}
