{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ encore_entry_link_tags('double') }}
{% endblock %}
{% block title %}Bethink | Calendar & Tasks{% endblock %}
{% block body %}
    {{ include('user-header.html.twig') }}
    {{ include('search/searcher.html.twig') }}
    <h1>Calendar & Tasks</h1>
    <div class="wholeWraper">
        <div class="calendarWraper">
            <a href="{{ path('calendar_new') }}">Add new event</a>
            <calendar-component id="content" data="{{ data }}"></calendar-component>
        </div>
        <div class="tasksWraper">
            <h1>Task list</h1>

            <table class="table">
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Day</th>
                        <th>Notes</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for task in tasks %}
                    <tr>
                        <td>{{ task.taskName }}</td>
                        <td>{{ task.day ? task.day|date('d-m-Y') : '' }}</td>
                        <td>{{ task.notes }}</td>
                        <td>
                            <a href="{{ path('task_show', {'id': task.id}) }}">show</a>
                            <a href="{{ path('task_edit', {'id': task.id}) }}">edit</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <a href="{{ path('task_new') }}">Add new task</a>
        </div>
    </div>
{% endblock %}