{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ encore_entry_link_tags('double') }}
{% endblock %}
{% block title %}Bethink | Calendar & Tasks{% endblock %}
{% block body %}
    {{ include('user-header.html.twig') }}
    {{ include('search/searcher.html.twig') }}
    <h1 class="title">Calendar & Tasks</h1>
    <a href="{{ path('calendar_new') }}">Add new event</a>
    <calendar-view id="content" calendarData="{{ data }}" tasksData="{{ taskData }}"></calendar-view>
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('cModalFunc') }}
{% endblock %}