{% extends 'base.html.twig' %}

{% block title %}Task{% endblock %}

{% block body %}
    <h1>Task</h1>

    <table class="table">
        <tbody>

            <tr>
                <th>Task</th>
                <td>{{ task.Taskname }}</td>
            </tr>
            <tr>
                <th>Day</th>
                <td>{{ task.day ? task.day|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Notes</th>
                <td>{{ task.notes }}</td>
        </tbody>
    </table>

    <a href="{{ path('task_index') }}">back to list</a>

    <a href="{{ path('task_edit', {'id': task.id}) }}">edit</a>

    {{ include('task/_delete_form.html.twig') }}
{% endblock %}
