{{ form_start(form) }}
    <input type="email" id="user_email" value="{{ email }}" name="user[email]" required="required"/>
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
